<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>affiche</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>AfficheController</servlet-name>
        <servlet-class>manaka.management.controller.AfficheController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AfficheController</servlet-name>
        <url-pattern>/affiche</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NouvelleTacheController</servlet-name>
        <servlet-class>manaka.management.controller.NouvelleTacheController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NouvelleTacheController</servlet-name>
        <url-pattern>/nouvelleTache</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserDataController</servlet-name>
        <servlet-class>manaka.management.controller.UserDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDataController</servlet-name>
        <url-pattern>/userData</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ModificationController</servlet-name>
        <servlet-class>manaka.management.controller.ModificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModificationController</servlet-name>
        <url-pattern>/modifier</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ChoixRessourceController</servlet-name>
        <servlet-class>manaka.management.controller.ChoixRessourceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChoixRessourceController</servlet-name>
        <url-pattern>/choisirRessource</url-pattern>
    </servlet-mapping>
</web-app>
